{% extends 'authapp/base.html' %}

{% block content %}
<form class="form-horizontal col-10" action="{% url 'auth:edit' %}" method="post"
      enctype="multipart/form-data">
        {% csrf_token %}
        {{ edit_form.as_p }}
        <button class="btn btn-primary" type="submit" value="Cохранить"</button>
    </form>
    <a class="btn btn-link" href="{% url 'index' %}" style="width: 100">На главную</a>
    <div class="user_avatar">
    <img src="/media/{{ user.avatar }}"/>
    </div>
{% endblock %}

